/*HEADER */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo{
    display: flex;
    /* меняем расположение блоков относительно абсциссы слева направо */
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

}
.img{
    margin-right:40px ;
}
.header-menu{
    flex-grow: 3;
}
.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
/* footer */
.footer-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.social-networks{
    display: flex;
    justify-content: flex-end;

}
.footerlogo{
    margin: 5px;
    
}
.footersearch{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;

}
.footerinput{
    height: 40px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    border:none
}
.footerbutton{
    height: 40px;
    flex-grow: 2;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.982);
    background-color: rgba(170, 168, 168, 0.805);

}


